mixin top-yachts()
  +b('section').top-yachts&attributes(attributes)
    .grid
      +e.top
        +e.heading-container
          +b('h2').heading._363636.__heading <span>Топ популярных </span>яхт на Пхукете
        +e.navigation
          +e.arrows
          +e.counter
            +e('span').counter-current 01
            +e('span').counter-total
          +b('a')(href='#').button._arrow-border.__button._desk Все яхты
            +b('span').icon._arrow-363636

      +e.bottom
        +e.slider
          each yacht in topYachts
            +e.item
              +b.top-yacht
                +e.overlay(style='background:url(' + yacht.img + ') center no-repeat;background-size:cover;')
                  +e.content
                    +e('h4').name !{yacht.name}
                    +e.info
                      +e.info-item
                        +e.info-icon-container
                          +e('img')(src=yacht.typeIcon alt='Тип яхты').info-icon
                        +e.info-name !{yacht.typeName}
                      +e.info-item
                        +e.info-icon-container
                          +e('img')(src=yacht.personsIcon alt='Количество человек').info-icon
                        +e.info-name !{yacht.personText}
                    +e.price-container
                      +e.price !{yacht.price}
                +e('a')(href='#').hover
                  +e.btn-hover
                    +b('span').icon._arrow-363636
                  +e.hover-text Узнать подробнее

        +b('a')(href='#').button._arrow-full.__button._mobile Все яхты
          +b('span').icon._arrow-363636
